<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Liste des souscripteurs</h1>
    <p class="mb-4">Vous trouverez ci dessous la liste de toutes les personnes ayant pris un engagement.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        </div>
        <div class="card-body">
            <p-table #dt1 *ngIf="souscripteur" [value]="souscripteur" [tableStyle]="{ 'min-width': '50rem' }"
                [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,15,20]"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="['civilite', 'firstName', 'lastName','phone','habitation']" [filterDelay]="0">

                <!-- Global Filter User Input-->

                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Global Search" />`
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Civilité</th>
                        <th>First name</th>
                        <th>Last name </th>
                        <th>Phone</th>
                        <th>Habitation</th>
                        <th>Mode de donations</th>
                        <th>Actions</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-souscripteur>
                    <tr>
                        <td>{{ souscripteur.civilite }}</td>
                        <td>{{ souscripteur.firstName }}</td>
                        <td>{{ souscripteur.lastName }}</td>
                        <td>{{ souscripteur.phone }}</td>
                        <td>{{ souscripteur.habitation }}</td>
                        <td *ngIf="souscripteur.donations && souscripteur.donations.length > 0">
                            <ng-container *ngFor="let donation of souscripteur.donations">
                                {{ donation.donationMode }}<br>
                            </ng-container>
                        </td>
                        <td *ngIf="!souscripteur.donations || souscripteur.donations.length === 0">
                            Aucun mode renseigné
                        </td>
                        <td>
                            <button type="submit" class="btn btn-success" (click)="open(souscripteur)">Détails</button>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</div>
<!-- /.container-fluid -->