<app-nav></app-nav>
<div class="object-content">
    <div class="">
        <div class="row">
            <div class="col-6">
                <div class="sec-im">
                  
                </div>
            </div>
            <div class="col-6">
                <div class="info-obj">
                    <div class="container">
                        <h2 class="sec-title-obj">Objectif</h2>
                        
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width.%': countSouscripteur }" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>{{countSouscripteur}} / {{objectif[0].target}}</p>
    
                        <h2 class="sec-title">Description</h2>
                        <p>
                            {{ objectif[0].description }}
                        </p>
                        <div class="sec-valid">
                            <button class="btn btn-primary call-to-action-" routerLink="/souscription/new">souscription {{objectif[0].name}}</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>